<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap" rel="stylesheet" />

<body>

    <!-- for bg  -->


    <!-- header part -->

    <div class="header">
        <div class="loader"></div>


        <div class="nav">
            <button>
                <span>Home</span><i></i>
            </button>
            <button>
                <span>My Skills</span><i></i>
            </button>
            <button>
                <span>Contact</span><i></i>
            </button>

            <!-- my nav
            <button id="home">Home</button>
            <button id="abt">About</button>
            <button id="contact">Contact</button> -->
        </div>
    </div>

    <!-- body part -->

    <div class="content">
        <span class="fcontent">I'am
        </span>
        <br>
        <span class="f2content">Harish</span>

        <img id="avatar" src="../../assets/img/avatar.png" />
    </div>
</body>