<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap" rel="stylesheet" />

<body>
    <!-- header part -->

    <div class="header">
        <div class="loader"></div>


        <div class="nav">
            <button>
                <span>Home</span><i></i>
            </button>
            <button>
                <span onclick="window.open('https://chat.openai.com/', '_blank');">My Resume</span><i></i>
            </button>
            <button>
                <span>Contact</span><i></i>
            </button>
        </div>
    </div>

    <!-- body part -->

    <!-- <div class="content">
        <span class="fcontent">I'am
        </span>
        <br>
        <span class="f2content">Harish</span>

        <img id="avatar" src="../../assets/img/avatar.png" />
    </div> -->

    <div class="jumbotron d-flex align-items-center">
        <!-- 
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div> -->
        <div class="rectangle-transparent-1"></div>
        <div class="rectangle-transparent-2"></div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="triangle triangle-1">
            <img src="../../assets/img/img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-2">
            <img src="../../assets/img/img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-3">
            <img src="../../assets/img/img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-4">
            <img src="../../assets/img/img/obj_triangle.png" alt="">
        </div>
    </div>
</body>